:root {
  --main-h1:35px;
  --second-h1:30px;
  --main-p:15px;
  --second-p:25px;
}

*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
nav h3,h1,h2{
  display:inline;
}
nav{

  background:rgb(15, 15, 15);
  align-items:center;
  justify-content:space-around;
  display:flex;
  padding:6px;
}
nav img{
  height:40px;
  
}
nav a{
  text-decoration:none;
  color:rgb(185, 185, 185);
  flex:20%;
  text-align:center;
  transition:0.5s;
  font-size:var(--main-p);
}
nav a:hover{
  color:white;
  flex:30%;
 
}
.hum{
  padding:4px;
 background:black;
 height:30px;
 width:30px;
 border-radius:5px;
 display:none;
 cursor:pointer;
}
.top,.middle,.bottom{
  height:2px;
  width:100%;
  background-color: white;
  margin:2.5px auto;
  padding:2px;
  border-radius:3px;
}
.hero{
  display:flex;
  align-items:center;
  justify-content:flex-start;
  height:60vh;
  width:100%;
  margin-top:0;
  background-color:rgb(255, 255, 255);
  color:black;
}
.fullWidth{
  width:100%;
  height:2px;
  background:white;
  margin:3px 0;
}
.colors{
  display:flex;
  flex-direction: column;
  width:120px;
  height:100%;
  padding:0;
  margin:0;
  align-items:center;
  justify-content: flex-start;
 flex:10%;
}
.green{
  background-color: rgb(11, 116, 72);
  height:100%;
  width:100%;
}
.orange{
  background-color: rgb(255, 204, 62);
  height:100%;
  width:100%;
}
.red{
  background-color: rgb(173, 0, 0);
  height:100%;
  width:100%;
}
.hero h3{
  margin:10px 0px;

}
.hero h2{
  margin:10px 0px;
;
}
button{
  background:rgb(243, 162, 11);
  color:white;
  border:1px solid white;
  margin:15px 20px;
  padding:5px 10px;
  border-radius:2px;
cursor:pointer;
}
.titleSection{
flex:90%;
 padding-left: 5vw;
padding-top:0vh;
  color:rgb(0, 0, 0);
}


.clients-img{
  width:80%;
  display: block;
  border-radius:20px;
  border:1px solid black;
  margin:30px auto;
}
.clients{
  width:100%;
}
.WhyWhy{
padding:20px 0px;
display:flex;
height:minmax(80vh,fit-content);
color:rgb(199, 199, 199);
background-color:rgb(10, 47, 56);
overflow:hidden;
font-family: 'arial', serif;
}
.WhyWhy h1{
  font-size:var(--second-h1);
  margin:20px auto;
  height:100%;

  padding:20px;
}
.WhyWhy p{
  
  font-size:var(--second-p);
}
.colorFullFont{
  color:rgb(15, 85, 102);
}
.problems{
  font-weight:300px;
  display:flex;
  height:40vh;
  color:white;
  background-color:rgb(10, 47, 56);
  }
  .problems h1{
    font-size:35px;
    margin:20px auto;
    height:100%;
  
    padding:20px;
  }
  .peoblems p{
    padding:20px;
    font-size:var(--second-p);
  }
.values{
  width:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size: var(--second-p);
}
.purpose{
  display:flex;
  align-items: center;
  font-size: var(--second-p);
  margin-left:20px;
}
.purpose h1{
  width:50%;
  margin-left:60px;
}
.purpose img{
  width:50%;
  display: block;
  margin:auto;
}
.research img{
  width:70%;
}
.research{
  display:flex;
  align-items:center;
  margin-left:30px;
  font-size: var(--second-p);
}
.research  div{
  padding:20px;
}

.values img{width:50%;}
.impact{
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items:center;
  overflow: hidden;
  font-size: var(--second-p);
}
.impactCards{
  display: flex;
 
  justify-content:space-around;
  align-items:center;
  width:60vw;
   overflow: hidden;
}
.Arrows{
  display: flex;
 
  justify-content:center;
  align-items:center;

}
.founder{
  display:flex;
  background:black;
  color:white;
  font-size:var(--second-p);
  padding:10px;
}
.founder img{
  border-radius:40px;
  margin:30px;

  flex-basis: 220px;
  height:245px;
  width:220px;
	flex-grow: 0;
	flex-shrink: 0;

}
.founder p{
  padding:20px;
}


.About{
  width:100%;
  height:minmax(30vh,fit-content);
  color:rgb(214, 214, 214);
  background:rgb(16, 74, 88);
  padding:20px 5px;
  
}
.About p{
	display: block;
 margin: auto;
 padding-top:20px;
 width:50%;
 text-align:center;
 font-size:var(--second-p);
}
.left{
  flex:30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.left h1{
  height:50%;
}
.right{
  flex:70%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contact{
  background:black;
  color:white;
  display:flex;
  align-items:center;
  justify-content: space-around;
  padding:20px;
}
.contact h3{
  color:rgb(14, 179, 179);
}
.contact a{
  text-decoration: none;
  color:rgb(255, 255, 255);
}
.clients{
  padding:80px;
}
img{
  border-radius:15px;
  border:2px solid black;
  display:block;
  margin:20px auto;
}
.About{
  font-size:var(--main-p);
}
@media screen and (max-width:850px) {
  .values{
    flex-direction: column-reverse;
  }
  .research{
  flex-direction: column;
  }
  .purpose{
flex-direction: column-reverse;
  }
  .About{
    font-size:10px;

  }
  .clients{
    display:none;
  }
  .founder{
    flex-direction:column;
    align-items:center;
  }
  .contact{
    flex-direction: column;
  }
}
@media screen and (max-width:650px) {

  .hum{
    display:block;
   position :fixed;
   right:20px;
   top:10px;
   border:1px solid black;
   z-index:10;
  }
 nav{
   flex-direction:column;
   transition:1s;
   width:100%;
   height:80vh;
   position:fixed;
 }
  .close {
    transform: translateX(650px);
 
  }
  .close div{
   background:red;
  }
  nav a{
    margin-top:20px;
  }
   nav a:hover{
     flex:20%;
   }
  
}
