nav{
  background:black;
  align-items:center;
  justify-content:space-around;
  display:flex;
  padding:6px;
}
nav a{
  text-decoration:none;
  color:rgb(185, 185, 185);
  flex:20%;
  text-align:center;
  transition:0.5s;
  font-size:15px;
}
nav a:hover{
  color:white;
  flex:30%;
 
}

@media screen and (max-width:450px) {
  nav a{
    display: none;
  }
}
@media screen and (max-width:650px) {
  nav a{
   font-size:10px;
  }
}