.impact-card{
padding:20px;
overflow-x:hidden;
}
.impact-card{
    height:200px;
    background-color: rgba(178, 178, 179,0.3);
    border-radius:10px;
    flex-basis: 200px;
	flex-grow: 0;
	flex-shrink: 0;
    margin:20px 20px;
}